spring:
  application:
    name: UserService

  datasource:
    url: jdbc:postgresql://localhost:5432/urbanmove_users_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8081

jwt:
  secret: "VotreCleSuperSecreteDeMinimum256BitsIciPourUrbanMoveMSSecurityJWTToken2024"
  expiration: 86400000
  refresh-expiration: 604800000

logging:
  level:
    com:
      urbanmove:
        usermanagement: DEBUG
    org:
      springframework:
        security: DEBUG
