apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: transport
  labels:
    app: kafka
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
      protocol: TCP
      name: broker
    - port: 29092
      targetPort: 29092
      protocol: TCP
      name: jmx